button {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.blog-post-section #title {
    color: #4d4d4d;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #212121 solid 2px;
    font-weight: 300;
}