.card-container {
    margin: 0;
    text-align: center;
}

.card {
    background-color: #E0E0E0;
    color: #212121;
    border: 0.3em solid #f9f9f9;
    height: 250px;
}

.card a {
    color: #212121;
    text-decoration: none;
}

.card h2 {
    color: #212121;
    padding-bottom: 20px;
    border-bottom: #1d1d1d solid;
}